.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:lightpink;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button {
  display:contents;
  background-color: rgb(31, 98, 223);
}

button {
  width: 20%;
  height: 90px;
  font-size: 30px;
}
.calc-body {
  max-width: 800px;
  margin:auto;
}

.result {
  height: 60px;
  width: 80%;
  background-color:lightgray;

}
.result p {
  font-size: 40px;
  margin: 5px;
}

